.headerText {
    font-size: 20px;
}

.myLogo {
    font-family: "Lucida Calligraphy", cursive
}

.illus_div {
    justify-items: center;
}

.container_s {
    width: 80%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
